<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation"
         style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" style="margin-top: 20px;"
               href="#"><i class="fa fa-bars"></i> </a>
            <div class="m-r-md text-muted welcome-message pull-left threed"
                 style="margin-top: 12px;margin-left: 10px;font-size:x-large;font-weight: bolder;">
                <p><span class="badge badge-danger" style="margin-bottom: 30px;font-size: ">${config('settings.title')}</span>
                </p>
            </div>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li><a href="${url('/logout')}"><i class="fa fa-sign-out"></i>退出</a></li>
        </ul>
    </nav>
</div>

<div class="row border-bottom white-bg dashboard-header">
    <div class="col-lg-10">
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            ${breadcrumb}
        </ol>
    </div>
</div>

