#tag layout_block("title")
Finance  - 用户管理
#end
#tag layout_block("breadcrumb")
<li class="active"><strong style="color:red;">用户管理</strong></li>
#end
#tag layout_block("mainContent")
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        #if(addUsers)
                        <div class="col-md-12">
                            <a href="/user/add" class="btn btn-primary btn-sm pull-right">新增用户</a>
                        </div>
                        #end
                    </div>

                    <div class="project-list">
                        <table class="table table-hover table-striped">
                            <thead>
                            <th>用户名</th>
                            <th>中文名</th>
                            <th>内部角色</th>
                            <th>邮箱地址</th>
                            <th>电话</th>
                            <th>所属部门</th>
                            <th style="text-align:right;">操作</th>
                            </thead>
                            <tbody>
                            #for(user:users)
                            <tr>
                                <td>${user.userName}
                                </td>
                                <td>${user.userCnName}
                                </td>
                                <td>${userLevelDesc(user.level)}
                                </td>
                                <td>${user.email}
                                </td>
                                <td>${user.phone}
                                </td>
                                <td>${userDepDesc(user.depId)}
                                </td>

                                <td class="project-actions">
                                    #if(updateUser)
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal"
                                            data-target="#div_${user.id}">
                                        修改
                                    </button>
                                    #end
                                    #if(deleteUser)
                                    <a href="javascript:del('${user.id}','${user.userName}')" class="btn btn-info btn-xs"><i
                                            class="fa fa-pencil"></i> 删除 </a>
                                    #end
                                    <div class="modal inmodal" id="div_${user.id}" tabindex="-1" role="dialog"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content animated fadeIn">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">用户信息修改</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="post" class="form-horizontal"
                                                          id="modifyUser_${user.id}">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">用户名</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" name="userName"
                                                                       value="${user.userName}" readonly="readonly"
                                                                       class="form-control">
                                                            </div>
                                                            <label class="col-sm-4 control-label">密码</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" name="password"
                                                                       value="${user.password}" class="form-control">
                                                            </div>
                                                            <label class="col-sm-4 control-label">中文名</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" name="userCnName"
                                                                       value="${user.userCnName}" class="form-control">
                                                            </div>
                                                            <label class="col-sm-4 control-label">邮箱地址</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" name="user.email"
                                                                       value="${user.email}"
                                                                       class="form-control">
                                                            </div>
                                                            <label class="col-sm-4 control-label">电话</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" name="phone"
                                                                       value="${user.phone}"
                                                                       class="form-control">
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="id" value="${user.id}">
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-white" data-dismiss="modal">
                                                        关闭
                                                    </button>
                                                    <button type="button" id="modifyBtn" class="btn btn-primary"
                                                            attr="${user.id}">修改保存
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#end
#tag layout_block("js")
<script type="text/javascript">
//    $(document).ready(function () {
//        var depId=$(user.depId);
//        alert("depId");
//        $(":radio[name='depId'][value='" + depId + "']").prop("checked", "checked");
//    });
    $("[id=modifyBtn]").each(function () {
        $(this).on("click", function () {
            var userId = $(this).attr("attr");
            var form = $('#modifyUser_'+userId);//
            var password = $(form).find('input[name=password]').val();
            if('' == password){
                error("密码不能为空.");
                return;
            }
            $.post("/user/modifyUser", form.serialize(), function (result) {
                if (result) {
                    success("修改成功", refreshWindow());
                } else {
                    error("修改失败:" + result);
                }
            });
        });
    });
    function del(id, name) {
        sw_confirm("确认删除吗?", "将永久删除[" + name + "]。", "warning", function () {
            $.post("/user/delete", {"id": id}, function (result) {
                if (result.success) {
                    sw_alert("操作成功", "已删除[" + name + "]。", "success", function () {
                        window.location.reload();
                    });
                } else {
                    sw_alert("操作失败", "原因:" + result.reason, "error");
                }
            });
        });
    }
</script>
#end
#include("/common/framework.html")