#tag layout_block("title")
Finance  - 配置管理
#end
#tag layout_block("breadcrumb")
<li class="active"><strong style="color:red;">配置管理</strong></li>
#end
#tag layout_block("mainContent")
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-12">
                            <a href="/config/add" class="btn btn-primary btn-sm pull-right">新增配置</a>
                        </div>
                    </div>

                    <div class="project-list">
                        <table class="table table-hover table-striped">
                            <thead>
                            <th>配置类型</th>
                            <th>Job名称</th>
                            <th>Job定时时间(点)</th>
                            <th>Job数据类型</th>
                            <th style="text-align:right;">操作</th>
                            </thead>
                            <tbody>
                            #for(job:configs)
                            <tr>
                                <td>${job.configTypeDesc}
                                </td>
                                <td>${job.jobInfo.jobName}
                                </td>
                                <td>${job.jobInfo.scheduleTime}
                                </td>
                                <td>${job.jobInfo.jobDataType}
                                </td>
                                <td class="project-actions">
                                    <a href="javascript:del('${job.id}','${job.jobInfo.jobName}')" class="btn btn-info btn-xs"><i
                                            class="fa fa-pencil"></i> 删除 </a>
                                </td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#end
#tag layout_block("js")
<script type="text/javascript">
    $(document).ready(function () {

    });
    function del(id, name) {
        sw_confirm("确认删除吗?", "将永久删除[" + name + "]。", "warning", function () {
            $.post("/config/delete", {"id": id}, function (result) {
                if (result.success) {
                    sw_alert("操作成功", "已删除[" + name + "]。", "success", function () {
                        window.location.reload();
                    });
                } else {
                    sw_alert("操作失败", "原因:" + result.reason, "error");
                }
            });
        });
    }
</script>
#end
#include("/common/framework.html")