#tag layout_block("title")
Finance  - 银行授信数据
#end
#tag layout_block("breadcrumb")
<li class="active">数据管理-<strong style="color:red;">收费退费数据</strong></li>
#end
#tag layout_block("mainContent")
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-9">
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                    data-target="#bankCreditImport">数据导入
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal">数据导出
                            </button>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" id="datepicker" name="datepicker" placeholder="选择日期" value="${date}"
                                       class="input-sm form-control">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary" id="searchBtn">
                                        查询
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-list">
                        <table class="table table-hover table-striped">
                            <thead>
                            <th>机构编码</th>
                            <th>银行编码</th>
                            <th>主办行编码</th>
                            <th>授信额度</th>
                            <th>授信余额</th>
                            <th>放大倍数</th>
                            <th>操作</th>
                            </thead>
                            <tbody>
                            #for(data:list)
                            <tr>
                                <td>${data.orgId}
                                </td>
                                <td>${data.bankId}
                                </td>
                                <td>${data.mainBankId}
                                </td>
                                <td>${data.creditTypeId}
                                </td>
                                <td>${data.creditMoney}
                                </td>
                                <td>${data.leaveMoney}
                                </td>
                                <td class="project-actions">
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal"
                                            data-target="#${data.id}">
                                        修改
                                    </button>
                                    <div class="modal inmodal" id="${data.id}" tabindex="-1" role="dialog"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content animated fadeIn">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">银行授信数据</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="post" class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">机构编号</label>
                                                            <div class="col-sm-4">
                                                                <input type="text" name="orgId"
                                                                       class="form-control">
                                                            </div>
                                                            <label class="col-sm-2 control-label">密码</label>
                                                            <div class="col-sm-4">
                                                                <input type="password" name="password"
                                                                       placeholder="密码(必填)"
                                                                       class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">密码</label>
                                                            <div class="col-sm-4">
                                                                <input type="password" name="password"
                                                                       placeholder="密码(必填)"
                                                                       class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">中文名</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" name="userCnName"
                                                                       placeholder="中文名(必填)"
                                                                       class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">邮箱</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" name="email" placeholder="邮箱(必填)"
                                                                       class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">手机号</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" name="phone"
                                                                       placeholder="手机号(必填)"
                                                                       class="form-control">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-white" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="button" class="btn btn-primary">修改保存</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                        <ul id="pagination"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="bankCreditImport">
    <form class="form-horizontal" id="bankCreditImportForm"
          enctype="multipart/form-data">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">数据导入</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- 模态框主体 -->
                <div class="modal-body">
                    <label class="sr-only">选择导入数据</label>
                    <input type="file" class="file" name="file" id="file">
                    <input type="hidden" name="type" value="bankCredit">
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" id="importsubmit" class="btn btn-primary">提交</button>
                    <button type="button" id="importclose" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>

            </div>
        </div>
    </form>
</div>
#end
#tag layout_block("js")
<script type="text/javascript">
    $(document).ready(function () {
        $('#pagination').twbsPagination({
            first: "首页",
            prev: "上一页",
            next: "下一页",
            last: "尾页",
            totalPages: ${list.pages},
            visiblePages: 7,
            href: 'bankCreditList?p={{pageNumber}}&date=${date}',
            hrefVariable: '{{pageNumber}}',
            startPage: ${list.pageNum},
            onPageClick: function (event, page) {
            }
        });
        $("#datepicker").datepicker({
            dateFormat: 'yy-mm-dd'
        });
        $('#searchBtn').on('click',function(){
            var date = $('#datepicker').val();
            if(null == date || "" == date){
                error("请选择日期.");
                return;
            }
            window.location.href="/data/bankCreditList?date="+date;
        });
        $('#importsubmit').on('click', function () {
            if (!validate()) {
                return;
            }
            var l = $('#importsubmit').ladda();
            l.ladda('start');
            $.ajax({
                url: '/data/import',
                type: 'POST',
                cache: false,
                data: new FormData($('#bankCreditImportForm')[0]),
                processData: false,
                contentType: false,
                success: function (data) {
                    l.ladda('stop');
                    window.location.reload();
                },
                error: function (data) {
                    l.ladda('stop');
                }
            }).done(function (res) {
                l.ladda('stop');
                info(res);
            }).fail(function (data) {
                l.ladda('stop');
                error(data);
            });
        });
        var validate = function () {
            var filepath = $("#file").val();
            if (filepath == null || filepath == "") {
                $("#result").text("对不起，您还没有选择任何文件。");
                return false;
            }
            var extStart = filepath.lastIndexOf(".");
            var ext = filepath.substring(extStart, filepath.length).toUpperCase();
            if (ext == ".XLSX" || ext == ".XLS") {//xlsx,xls
                $("#importclose").trigger("click");
                return true;
            } else {
                $("#result").text("对不起，您选择的不是Excel文件，请选择xlsx或者xls文件继续操作。");
                return false;
            }
        }
    });
</script>
#end
#include("/common/framework.html")