#tag layout_block("title")
Finance  - ${view.moduleName}
#end
#tag layout_block("breadcrumb")
<li class="active">数据管理-<strong style="color:red;">${view.moduleName}</strong></li>
#end
#tag layout_block("mainContent")
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-9">
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                    data-target="#genericImport">数据导入
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" id="dataOutport" data-toggle="modal">
                                <a href="/data/outport?type=${view.dataType}&date=${view.date}">数据导出</a>
                            </button>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" id="datepicker" name="datepicker" placeholder="选择日期"
                                       value="${view.date}"
                                       class="input-sm form-control">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary" id="searchBtn">
                                        查询
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-list" style="overflow: auto; width: 100%;">
                        <table class="table table-hover table-striped">
                            <thead>
                            #for(field:dataSet.fields)
                            <th>${field}</th>
                            #end
                            <th>操作</th>
                            </thead>
                            <tbody>
                            #for(data:dataSet.dataVos)
                            <tr>
                                #for(obj:data.values)
                                <td>${obj.value}
                                </td>
                                #end
                                <td class="project-actions">
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal"
                                            data-target="#div_${data.dataId}">
                                        修改
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs"
                                            attr="${data.dataId}" name="deleteBtn">
                                        删除
                                    </button>
                                    <div class="modal inmodal" id="div_${data.dataId}" tabindex="-1" role="dialog"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content animated fadeIn">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">${view.moduleName}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="post" class="form-horizontal" id="form_${data.dataId}">
                                                        #for(obj:data.values)
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">${obj.filedCnName}</label>
                                                            <div class="col-sm-8">
                                                                #if(obj.modify)
                                                                #if(obj.date)
                                                                <input type="text" name="${obj.fieldName}"
                                                                       value="${obj.value}"
                                                                       class="form-control"
                                                                       id="inputpicker_${data.dataId}_${obj.fieldName}">
                                                                #else
                                                                <input type="text" name="${obj.fieldName}"
                                                                       value="${obj.value}"
                                                                       class="form-control">
                                                                #end
                                                                #else
                                                                <input type="text" name="${obj.fieldName}"
                                                                       value="${obj.value}" readonly="readonly"
                                                                       class="form-control">
                                                                #end
                                                            </div>
                                                        </div>
                                                        #end
                                                        <input type="hidden" name="id" value="${data.dataId}">
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-white" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="button" id="modifyBtn" class="btn btn-primary"
                                                            attr="${data.dataId}">修改保存
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                        <ul id="pagination"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="genericImport">
    <form class="form-horizontal" id="genericImportForm"
          enctype="multipart/form-data">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">数据导入</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- 模态框主体 -->
                <div class="modal-body">
                    <label class="sr-only">选择导入数据</label>
                    <input type="file" class="file" name="file" id="file">
                    <input type="hidden" name="type" value="${view.dataType}">
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" id="importsubmit" class="btn btn-primary">提交</button>
                    <button type="button" id="importclose" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>

            </div>
        </div>
    </form>
</div>
#end
#tag layout_block("js")
<script type="text/javascript">
    $(document).ready(function () {
        var dataType = '${view.dataType}';

        $('#pagination').twbsPagination({
            first: "首页",
            prev: "上一页",
            next: "下一页",
            last: "尾页",
            totalPages: ${list.pages},
            visiblePages: 7,
            href: 'genericDataList?p={{pageNumber}}&dataType=${view.dataType}&date=${view.date}',
            hrefVariable: '{{pageNumber}}',
            startPage: ${list.pageNum},
            onPageClick: function (event, page) {
            }
        });
        $(".project-list").find("button[name=deleteBtn]").each(function () {
            $(this).on('click', function () {
                var dataId = $(this).attr("attr");
                sw_confirm("确认删除吗?", "将永久删除数据", "warning", function () {
                    $.post("${view.deleteUrl}", {"dataId": dataId, "dataType": dataType}, function (result) {
                        if (result == "succcess") {
                            sw_alert("操作成功", "已删除数据", "success", function () {
                                window.location.reload();
                            });
                        } else {
                            sw_alert("操作失败", "", "error");
                        }
                    });
                });
            });
        });
        $("[id=modifyBtn]").each(function () {
            $(this).on("click", function () {
                var dataId = $(this).attr("attr");
                var form = $("#form_" + dataId);
                alert(form.serialize());
                $.post("${view.modifyUrl}", form.serialize(), function (result) {
                    if (result) {
                        success("修改成功", refreshWindow());
                    } else {
                        error("修改失败:" + result);
                    }
                });
            });
        });
        $("input[id^='inputpicker_']").each(function () {
            $(this).datepicker({
                dateFormat: 'yy-mm-dd',
                dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                    '七月', '八月', '九月', '十月', '十一月', '十二月']
            });
        });
        $("#datepicker").datepicker({
            dateFormat: 'yy-mm-dd',
            dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
            monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月']
        });
        $('#searchBtn').on('click', function () {
            var date = $('#datepicker').val();
            if (null == date || "" == date) {
                error("请选择日期.");
                return;
            }
            window.location.href = "/data/genericDataList?date=" + date + "&dataType=${view.dataType}";
        });
        $('#importsubmit').on('click', function () {
            if (!validate()) {
                return;
            }
            var l = $('#importsubmit').ladda();
            l.ladda('start');
            $.ajax({
                url: '/data/import',
                type: 'POST',
                cache: false,
                data: new FormData($('#genericImportForm')[0]),
                processData: false,
                contentType: false,
                success: function (data) {
                    l.ladda('stop');
                    window.location.reload();
                },
                error: function (data) {
                    l.ladda('stop');
                }
            }).done(function (res) {
                l.ladda('stop');
                info(res);
            }).fail(function (data) {
                l.ladda('stop');
                error(data);
            });
        });
        var validate = function () {
            var filepath = $("#file").val();
            if (filepath == null || filepath == "") {
                $("#result").text("对不起，您还没有选择任何文件。");
                return false;
            }
            var extStart = filepath.lastIndexOf(".");
            var ext = filepath.substring(extStart, filepath.length).toUpperCase();
            if (ext == ".XLSX" || ext == ".XLS") {//xlsx,xls
                $("#importclose").trigger("click");
                return true;
            } else {
                $("#result").text("对不起，您选择的不是Excel文件，请选择xlsx或者xls文件继续操作。");
                return false;
            }
        }
    });
</script>
#end
#include("/common/framework.html")