#tag layout_block("title")
Finance  - 数据管理
#end
#tag layout_block("breadcrumb")
<li class="active"><strong style="color:red;">数据管理</strong></li>
#end

#tag layout_block("mainContent")
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="list.html#biz-data">系统业务数据</a></li>
                            <li class=""><a data-toggle="tab" href="list.html#bank-credit">银行授信数据</a></li>
                            <li class=""><a data-toggle="tab" href="list.html#repayment">还款业务数据</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="biz-data" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="ibox-content">
                                        <table class="footable table table-stripped toggle-arrow-tiny"
                                               data-page-size="8">
                                            <thead>
                                            <tr>
                                                <th data-toggle="true">Project</th>
                                                <th>Name</th>
                                                <th>Phone</th>
                                                <th data-hide="all">Company</th>
                                                <th data-hide="all">Completed</th>
                                                <th data-hide="all">Task</th>
                                                <th data-hide="all">Date</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>Project - This is example of project</td>
                                                <td>Patrick Smith</td>
                                                <td>0800 051213</td>
                                                <td>Inceptos Hymenaeos Ltd</td>
                                                <td><span class="pie">0.52/1.561</span></td>
                                                <td>20%</td>
                                                <td>Jul 14, 2013</td>
                                                <td><a href="table_foo_table.html#"><i
                                                        class="fa fa-check text-navy"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Alpha project</td>
                                                <td>Alice Jackson</td>
                                                <td>0500 780909</td>
                                                <td>Nec Euismod In Company</td>
                                                <td><span class="pie">6,9</span></td>
                                                <td>40%</td>
                                                <td>Jul 16, 2013</td>
                                                <td><a href="table_foo_table.html#"><i
                                                        class="fa fa-check text-navy"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Betha project</td>
                                                <td>John Smith</td>
                                                <td>0800 1111</td>
                                                <td>Erat Volutpat</td>
                                                <td><span class="pie">3,1</span></td>
                                                <td>75%</td>
                                                <td>Jul 18, 2013</td>
                                                <td><a href="table_foo_table.html#"><i
                                                        class="fa fa-check text-navy"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Gamma project</td>
                                                <td>Anna Jordan</td>
                                                <td>(016977) 0648</td>
                                                <td>Tellus Ltd</td>
                                                <td><span class="pie">4,9</span></td>
                                                <td>18%</td>
                                                <td>Jul 22, 2013</td>
                                                <td><a href="table_foo_table.html#"><i
                                                        class="fa fa-check text-navy"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Alpha project</td>
                                                <td>Alice Jackson</td>
                                                <td>0500 780909</td>
                                                <td>Nec Euismod In Company</td>
                                                <td><span class="pie">6,9</span></td>
                                                <td>40%</td>
                                                <td>Jul 16, 2013</td>
                                                <td><a href="table_foo_table.html#"><i
                                                        class="fa fa-check text-navy"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Project
                                                    <small>This is example of project</small>
                                                </td>
                                                <td>Patrick Smith</td>
                                                <td>0800 051213</td>
                                                <td>Inceptos Hymenaeos Ltd</td>
                                                <td><span class="pie">0.52/1.561</span></td>
                                                <td>20%</td>
                                                <td>Jul 14, 2013</td>
                                                <td><a href="table_foo_table.html#"><i
                                                        class="fa fa-check text-navy"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Gamma project</td>
                                                <td>Anna Jordan</td>
                                                <td>(016977) 0648</td>
                                                <td>Tellus Ltd</td>
                                                <td><span class="pie">4,9</span></td>
                                                <td>18%</td>
                                                <td>Jul 22, 2013</td>
                                                <td><a href="table_foo_table.html#"><i
                                                        class="fa fa-check text-navy"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Project
                                                    <small>This is example of project</small>
                                                </td>
                                                <td>Patrick Smith</td>
                                                <td>0800 051213</td>
                                                <td>Inceptos Hymenaeos Ltd</td>
                                                <td><span class="pie">0.52/1.561</span></td>
                                                <td>20%</td>
                                                <td>Jul 14, 2013</td>
                                                <td><a href="table_foo_table.html#"><i
                                                        class="fa fa-check text-navy"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Alpha project</td>
                                                <td>Alice Jackson</td>
                                                <td>0500 780909</td>
                                                <td>Nec Euismod In Company</td>
                                                <td><span class="pie">6,9</span></td>
                                                <td>40%</td>
                                                <td>Jul 16, 2013</td>
                                                <td><a href="table_foo_table.html#"><i
                                                        class="fa fa-check text-navy"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Betha project</td>
                                                <td>John Smith</td>
                                                <td>0800 1111</td>
                                                <td>Erat Volutpat</td>
                                                <td><span class="pie">3,1</span></td>
                                                <td>75%</td>
                                                <td>Jul 18, 2013</td>
                                                <td><a href="table_foo_table.html#"><i
                                                        class="fa fa-check text-navy"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Gamma project</td>
                                                <td>Anna Jordan</td>
                                                <td>(016977) 0648</td>
                                                <td>Tellus Ltd</td>
                                                <td><span class="pie">4,9</span></td>
                                                <td>18%</td>
                                                <td>Jul 22, 2013</td>
                                                <td><a href="table_foo_table.html#"><i
                                                        class="fa fa-check text-navy"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Alpha project</td>
                                                <td>Alice Jackson</td>
                                                <td>0500 780909</td>
                                                <td>Nec Euismod In Company</td>
                                                <td><span class="pie">6,9</span></td>
                                                <td>40%</td>
                                                <td>Jul 16, 2013</td>
                                                <td><a href="table_foo_table.html#"><i
                                                        class="fa fa-check text-navy"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Project
                                                    <small>This is example of project</small>
                                                </td>
                                                <td>Patrick Smith</td>
                                                <td>0800 051213</td>
                                                <td>Inceptos Hymenaeos Ltd</td>
                                                <td><span class="pie">0.52/1.561</span></td>
                                                <td>20%</td>
                                                <td>Jul 14, 2013</td>
                                                <td><a href="table_foo_table.html#"><i
                                                        class="fa fa-check text-navy"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Gamma project</td>
                                                <td>Anna Jordan</td>
                                                <td>(016977) 0648</td>
                                                <td>Tellus Ltd</td>
                                                <td><span class="pie">4,9</span></td>
                                                <td>18%</td>
                                                <td>Jul 22, 2013</td>
                                                <td><a href="table_foo_table.html#"><i
                                                        class="fa fa-check text-navy"></i></a></td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td colspan="5">
                                                    <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div id="bank-credit" class="tab-pane">
                                <div class="panel-body">
                                    <strong>Donec quam felis</strong>

                                    <p>Thousand unknown plants are noticed by me: when I hear the buzz of the little
                                        world among the stalks, and grow familiar with the countless indescribable forms
                                        of the insects
                                        and flies, then I feel the presence of the Almighty, who formed us in his own
                                        image, and the breath </p>

                                    <p>I am alone, and feel the charm of existence in this spot, which was created for
                                        the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the
                                        exquisite
                                        sense of mere tranquil existence, that I neglect my talents. I should be
                                        incapable of drawing a single stroke at the present moment; and yet.</p>
                                </div>
                            </div>
                            <div id="repayment" class="tab-pane">
                                <div class="panel-body">
                                    <strong>Donec quam felis</strong>

                                    <p>Thousand unknown plants are noticed by me: when I hear the buzz of the little
                                        world among the stalks, and grow familiar with the countless indescribable forms
                                        of the insects
                                        and flies, then I feel the presence of the Almighty, who formed us in his own
                                        image, and the breath </p>

                                    <p>I am alone, and feel the charm of existence in this spot, which was created for
                                        the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the
                                        exquisite
                                        sense of mere tranquil existence, that I neglect my talents. I should be
                                        incapable of drawing a single stroke at the present moment; and yet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#end
#tag layout_block("js")
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
#end
#include("/common/framework.html")