#tag layout_block("title") 欢迎 #end #tag layout_block("css")
<link href="${url('/resources/css/github-markdown.css')}" rel="stylesheet">
#end
#tag layout_block("breadcrumb")
#end
#tag layout_block("mainContent")
<div class="row" class="col-lg-6" style="padding: 10px 50px;">
    #[[
    <h3>友情提醒：</h3>
    <p>1、公司业务系统数据同步时间：每天早上<label style="color: red;"> 8点</label>；</p>
    <p>2、金融办监管系统数据上报时间：每晚<label style="color: red;"> 20点至22点</label>；</p>
    <p>3、数据同步和数据上报出错均会发邮件和短信提醒给相应人员；</p>
    <p>                                                         </p>
    <h3>操作说明：</h3>
    <p>1、银行授信数据和业务基础数据如需增加记录，由综营部人员添加；</p>
    <p>2、其他部门人员在项目基础数据的基础上根据需求补充本部门负责的数据；</p>
    <p>3、数据添加通过先导出Excel文件，修改后导入。其中主键列不填写，要注意金额数值列不要导入科学计数法的数值；</p>
    <p>4、数据导出如有金额数据显示科学计数法，请双击该数据列列头展开显示即可。</p>
    ]]#
</div>

<div class="row" style="padding: 10px 50px;">

</div>
#end
#include("/common/framework.html")