#tag layout_block("title") 欢迎 #end #tag layout_block("css")
<link href="${url('/resources/css/github-markdown.css')}" rel="stylesheet">
#end
#tag layout_block("breadcrumb")
#end
#tag layout_block("mainContent")
<div class="row" class="col-lg-6" style="padding: 10px 50px;">
    #[[
    <h3>友情提醒：</h3>
    <p>数据同步时间：业务系统抓取数据<label style="color: red;"> 8点</label>；数据上报监管系统<label style="color: red;"> 20点-22点</label></p>
    <p>操作说明：先导出，修改数据后导入；不能修改Excel格式</p>
    ]]#
</div>

<div class="row" style="padding: 10px 50px;">

</div>
#end
#include("/common/framework.html")