#tag layout_block("title") Demo应用 #end #tag layout_block("css")
<link href="${url('/resources/css/github-markdown.css')}" rel="stylesheet">
#end
#tag layout_block("breadcrumb")
<li class="active"><strong>介绍说明</strong></li>
#end
#tag layout_block("mainContent")
<div class="row" class="col-lg-6" style="padding: 10px 50px;">
    #[[
    <h1>欢迎使用Demo应用</h1>
    <br/>
    <p style="font-size: 15px"><strong>Demo</strong>Demo应用模版可以帮助你快速搭建一个基于Spring Boot Web项目
        </br>
    &nbsp;&nbsp;1、支持主从多数据源</br>
    &nbsp;&nbsp;2、支持页面模版</br>
    <br/>
    ]]#
</div>

<div class="row" style="padding: 10px 50px;">
    #[[
    <h1 style="color: red">公告栏</h1>
    <br/>
    <p style="color:red;font-size: 15px"><strong>公告</strong>
        </br>
        &nbsp;&nbsp;床前明月光</br>
        &nbsp;&nbsp;疑是地上霜</br>
        &nbsp;&nbsp;举头望明月</br>
        &nbsp;&nbsp;低头思故乡</br>
        ]]#
    </p>
</div>
#end
#include("/common/framework.html")